<div class="row justify-content-center">
    <div class="col-md-8">
        <h2>Daftar Kontak</h2>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Nama Lengkap</th>
                    <th scope="col">Email</th>
                    <th scope="col">No Handphone</th>
                    <th scope="col">Aksi</th>
                </tr>
            </thead>
            <% if (contacts.length < 1) { %>
                <tbody>
                    <tr>
                        <td colspan="5">Belumm Ada Data Contact</td>
                    </tr>
                </tbody>
            <% } else { %>
                <% let urutan = 1 %>
                <% contacts.forEach(contact => { %>
                    <tbody>
                        <tr>
                            <th scope="row"><%= urutan++ %></th>
                            <td><%= contact.nama %></td>
                            <td><%= contact.email %></td>
                            <td><%= contact.ponsel %></td>
                            <td>
                                <a href="" class="btn btn-success badge rounded-pill">
                                    <i class="bi bi-info-circle"> </i>Detail
                                </a>
                            </td>
                        </tr>
                    </tbody>
                <% }); %> 
            <% } %>
        </table>
    </div>
</div>